<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/bebida_alcoolica"
        android:label="Folha de Pagamento"
        android:roundIcon="@drawable/bebida_alcoolica"
        android:supportsRtl="true"
        android:theme="@style/Theme.FolhaPagamento"
        tools:targetApi="31">
        <activity
            android:name=".DetalhesPagamento"
            android:exported="false" />
        <activity
            android:name=".Info_pagamento"
            android:exported="false" />
        <activity
            android:name=".Pagamento"
            android:exported="false" />
        <activity
            android:name="view.fornecedor.CadastroFornecedor"
            android:exported="false" />
        <activity
            android:name="view.fornecedor.DetalhesFornecedor"
            android:exported="false" />
        <activity
            android:name="view.fornecedor.Info_fornecedores"
            android:exported="false" />
        <activity
            android:name="view.fornecedor.Fornecedores"
            android:exported="false" />
        <activity
            android:name="view.funcionario.DetalhesFuncionarioInfo"
            android:exported="false" />
        <activity
            android:name="view.funcionario.DetalhesFuncionario"
            android:exported="false" />
        <activity
            android:name="view.funcionario.CadastroFuncionario"
            android:exported="false" />
        <activity
            android:name="view.funcionario.Info_funcionario"
            android:exported="false" />
        <activity
            android:name="view.usuario.CadastroUsuario"
            android:exported="false" />
        <activity
            android:name="view.funcionario.FuncionariosActivity"
            android:exported="false" />
        <activity
            android:name="view.login.Menu"
            android:exported="false" />
        <activity
            android:name="view.login.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>